/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/*
1. từ ngoài vào trong
2. từ trên xuống dưới 
3. từ tổng quan đến chi tiết 
 */

/* 
1. vị trí 
2. kích thước
3. màu sắc 
4. kiểu dáng
 */
/* .clear{
    clear: both;
} */
.write-white{
    color: #fff !important; 
}
.white-blue{
    color: blue !important;
}
.text-center{
    text-align: center !important;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.pull-right{
    float: right !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;

}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-third{
    width: 33.33333%;
}
.col-2{
    width: 50%;
}
.btn{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 11px 14px;
    display: inline-block;
    cursor: pointer;
    border: none;
}
.btn:hover {
    color: #000;
    background-color: #ccc;
}

/* main */


#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
    overflow: hidden;
}

#nav{
    float: left;
}

#nav, .subnav{
    list-style-type: none;
}

#nav >li {
    display: inline-block;
    position: relative;
}
#nav >li >a{
    color: #fff;
    padding: 0 24px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 46px;
}
#nav li a{
    text-decoration: none;
}
#nav .subnav>li:hover >a,
#nav >li:hover >a{
    background-color: #ccc;
    color: #000;
}#nav li:hover .subnav{
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 10, 0.6);
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    display: block;
    line-height: 38px;

}

#header .header-down{
    font-size: 14px;
}
#header .menu-btn,
#header .search-btn{
    color: #fff;
    font-size: 20px;
    float: right;
}
#header .menu-btn,
#header .header-search{
    line-height: 46px;
    padding: 0 21px;
}
#header .menu-btn:hover{
    background-color: #fff;
    color: #000;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-center{
    position: absolute;
    right: 0px;
    left: 0px;
    color: #fff;
    bottom: 47px;
    /* width: 100%; */
    text-align: center;
}

#slider .text-heading{
    font-size: 24px;
    font-weight: 500;
}

#slider .text-child{
    font-size: 15px;
    margin-top: 25px;
}


#content{

}

#content .content-section{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding: 64px 0px;
    /* chỉnh cho table/ @media */
    max-width: 100%;
    padding-left: 16px; 
    padding-right: 16px;
}

#content .section-heading{
    text-align: center;
    letter-spacing: 4px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
}

#content .section-sub-heading{
    text-align: center;
    font-style: italic;
    font-size: 15px;
    margin-top: 25px;
    opacity: .6;
}

#content .about-text{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}
#content .content-list{
    padding-top: 48px;
    padding-bottom: 32px;
}
#content .content-name{
    font-size: 15px;
    padding-bottom: 15px;
}
#content .content-img{
    width: 154px;
    border-radius: 4px;
}
/* tour-section */
.tour-section{
    background-color: #000;
}
.tickets-list{
    list-style: none;
    margin-top: 40px;
    background-color: #fff;
}
.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}
.tickets-list .sold-out{
    color: #fff;
    background-color: #f44336;
    padding: 3px 7px;
    margin-left: 16px;
}
.tickets-list .tickets-qatity{
    float: right;
    height: 24px;
    width: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
    margin-right: 20px;
}
/* place */
.place-list{
    margin-top: 32px;
    margin-bottom: 48px;
}
.place-item{
    padding: 0 8px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    padding-bottom: 16px;
}
.place-time{
    padding-bottom: 16px;
    color: #757575;
}
.place-content{
    line-height: 1.4;
    padding-bottom: 16px;
}

/* contact-section */
.contect-center{
    padding-top: 48px;
}
.contect-info i[class*="ti-"]{
    padding: 8px;
    display: inline-block;
    
}
.contect-info{
    font-size: 18px;
    line-height: 1.5;
}
/* .contect-from{
    font-size: 15px;
} */
.contect-from .form-control{
    width: 100%;
    font-size: 15px;
    padding: 8px;
}
.footer{
    padding: 64px 16px;
}
.socials-list{
    font-size: 24px;
}
.socials-list a{
    color: rgb(0, 0, 0,0.6);
    text-decoration: none;
}
.socials-list a:hover{
    color: rgb(0, 0, 0,0.4);
}
.map-section img{
    width: 100%;
}
.footer-end{
    margin-top: 15px;
    font-size: 15px;
    color: rgb(0, 0, 0,0.6);
    /* background-color: rgb(0, 0, 0,0.1); */
}
.footer-end a{
    color: rgb(0, 0, 0,0.6);
}
/* modal */
.modal{
    position: fixed;
    top: 0;right: 0;left: 0;bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open{
    display: flex;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 64px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
.moder-header {
    background-color: #009688;
    color: #fff;
    font-size: 30px;
    height: 130px;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    display: flex;
}
.modal-icon-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 14px;
}
.modal-icon-close:hover{
    color:  rgb(27, 14, 14);
    background-color: #cac5c5;
}
.moder-header .tickets {
    letter-spacing: 4px;
    padding-left: 16px;
}
.modal-body {
    padding: 16px;
    font-size: 15px;
}
.modal-input {
    display: block;
    margin-top: 12px;
    width: 100%;
    margin-bottom: 24px;
    padding: 10px;
}
#modal-buy {
    width: 100%;
    background-color: #009688;
    color: #fff;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}
#modal-buy:hover{
   background-color: #ddd;
   color: #000;
}
.modal-help {
    padding: 16px;
    float: right;
}

@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
