main {
    display:  grid;
    border-radius: 5px;
    border-color: #ccc7c8;
    padding: 0 5px;
    color: #fff;
}

aside{
    margin: 2px 2px;
    padding: 5px 5px;
    text-align: justify;
}

header {
    
}